* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  width: 1128px;
  margin: 24px auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-image:hover {
  width: 376px;
  height: 208px;
  margin: -4px -8px;
  z-index: 2;
}
